$button_size: 100px;

div.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .button-container {
        width: $button_size;
        height: $button_size;
        padding: 12px;
    }
}