<div class="wrapper">
  <div class="button-container">
    <app-selector-button [buttonText]="data[0]"
    (selected)="dataSelected.emit($event)"></app-selector-button>
  </div>
  <div class="button-container">
    <app-selector-button [buttonText]="data[1]"
    (selected)="dataSelected.emit($event)"></app-selector-button>
  </div>
</div>
