<mat-list role="list">
  <mat-list-item @fade role="listitem" *ngFor="let post of posts | async">
  <!-- <mat-list-item role="listitem" *ngFor="let post of posts | async"> -->
    {{post.title}}
    <span (click)="delete.emit(post)">
      <strong> X </strong>
    </span>
  </mat-list-item>
</mat-list>