.wrapper {
    height: 100vh;
    padding: 10% 25%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 15% 15%;
}

.data-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}