<!-- **** CSS Grid **** -->
<div class="wrapper">
  <!-- Face -->
  <div>
    <app-face [image]="faceUrl"></app-face>
  </div>
  <!-- Option Selector -->
  <div>
    <app-data-selector [data]="dataSelectionOptions" (dataSelected)="routeToView($event)"></app-data-selector>
  </div>
  <!-- Logo -->
  <div>
    <app-logo></app-logo>
  </div>
</div>

<div class="data-wrapper">
  
  <!-- List of Users -->
  <app-user-data></app-user-data>

  <!-- List of Posts -->
  <app-post-data></app-post-data>

</div>