div.wrapper {
    position: fixed;
    width:100%;
    height: 100px;
    top: 0;
    .language-container {
        position: absolute;
        top: 0;
        left: 0;
    }
    .back-btn-container {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        right: 0;
    }
}
