<div class="wrapper">

  <!-- Language Selector -->
  <div class="language-container">
    <app-data-selector [data]="languageOptions"></app-data-selector>
  </div>
  
  <!-- Back Button -->
  <div class="back-btn-container">
    <app-selector-button [buttonText]="'back'"></app-selector-button>
  </div>

</div>  