/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}
