<mat-list role="list">
  <mat-list-item @fade role="listitem" *ngFor="let user of users | async">
  <!-- <mat-list-item role="listitem" *ngFor="let user of users | async"> -->
    {{user.name}}
    <span (click)="delete.emit(user)">
      <strong> X </strong>
    </span>
  </mat-list-item>
</mat-list>